@media (min-width: 100vw) {
    form{
        width: fit-content;
    }
    .divTable{
        width: fit-content;
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.background{
    background:linear-gradient(to bottom,
                                    rgba(120, 49, 255, 1.0),
                                    rgba(120, 49, 255, 0.9),
                                    rgba(120, 49, 255, 0.7),
                                    rgba(120, 49, 255, 0.5),
                                    rgba(120, 49, 255, 0.3));
    color: white;
    min-height: 100vh;
    
}

.background h1{
    text-align: center;
    padding: 1% 0 1% 0;
}


form{
    background-color: rgb(55, 50, 50);
    color: white;

    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}


label{
    justify-self: flex-start;
    margin: 20px 0 0 20px;
}

input{
    width: 250px;
    background-color: rgb(120, 49, 255);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.name, .birth-date, .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0;
}

button{
    background-color: rgb(120, 49, 255);
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover{
    background-color: rgb(120, 49, 255);
    width: 100px;
    border-radius: 0px;
    transition: 0.5s;
    border: 1px solid white;
    cursor: pointer;
}


.divTable{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    margin: 0 auto;
}

.edit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

#data{
    background-color: rgb(55, 50, 50);
    border-radius: 10px;
    width: 80vw;
}

#data, td{
    padding: 7px;
}

.top{
    gap: 20px;
}

td{
    border: 1px solid white; 
}

.tdName{
    width: 60%;
}

tr{
    text-align: center;
}

#warning{
    background-color: rgb(55, 50, 50);
    color: red;
    font-size: larger;
    font-weight: 500;
    padding: 5px;
    border-radius: 10px;
    /* text-shadow: 1px 1px black; */
}
#success{
    background-color: rgb(55, 50, 50);
    color: lime;
    font-size: larger;
    font-weight: 500;
    padding: 5px;
    border-radius: 10px;
    /* text-shadow: 1px 1px black; */
}

#status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px 0 10px;
    border-radius: 10px;
}

